
body{
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav{
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  height: 100px;
}
#logo-img{
  background: url('D:\Coursera-projects\Coursera-test\restaurant-logo.png') no-repeat;
  width: 900px;
  height: 90px;
  margin: 5px 5px 5px 0;
}
